.ag-format-container {
    width: 100%;
    overflow: hidden;
}
.ag-format-container .heading-row {
    font-size: 25px;
    color: var(--primary-color-dark);
    text-transform: capitalize;
    margin: 1.5rem;
    padding-bottom: 10px;
}
.ag-courses_box {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
.ag-courses_box::-webkit-scrollbar{
    display: none;
}

.ag-courses_item {
    flex: 0 0 auto;
    margin: 10px 15px;
    min-width: 200px;
    border: 1px solid rgb(232, 226, 226);
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0, 0.3);
}

.ag-courses-item_link {
    display: block;
    padding: 15px 10px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    text-decoration: none;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover h1 {
    color: var(--primary-color-dark);
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 30px;
    overflow: hidden;
    font-size: 30px;
    color: var(--text-color-dark);
    z-index: 2;
    position: relative;
}

.ag-courses-item_title h1 {
    font-size: 17px;
    color: var(--secondary-color-dark);
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: var(--secondary-color-light);
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: rgb(168, 220, 241);
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;
        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}





.card_boxes {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
}
.card_boxes::-webkit-scrollbar{
    display: none;
}
.card {
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #091014;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.card .card_image {
    max-height: 250px;
    margin-top: -24px;
    img {
    width: 100%;
    max-width: 800px;
    height: 100%;
    object-fit: cover;
    }
    
    &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    top: -100px;
    background: linear-gradient(0deg, #091014 5%, rgba(0, 0, 0, 0) 100%);
    }
}
  
.card_content {
    padding: 1rem;
    z-index: 1;
    display: block;
}
  
.card_title {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    line-height: 72px;
    margin-top: -50px;
    text-shadow: black 1px 0 15px;
    color: white;
    text-transform: capitalize;
}
  
.card_text {
    color: #DDDACB;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    p {
        max-width: 700px;
    }
  }
  
  #item_fig .card:after {
    content: "Seasonal";
    font-family: "Raleway", sans-serif;
    color: rgba(234, 225, 175, 0.8);
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    display: block;
    width: 10ch;
    height: 1.5em;
    padding: 0.2em 0.4em;
    position: relative;
    bottom: calc(100% - 2.5em);
    left: 1em;
  }

  .card_price {
    position: relative;
    padding: 10px;
    background-color: red;
    border-bottom: 8px;
    width: fit-content;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-shadow: black 3px 0px 6px;
    border-radius: 15px 0px 0px 0px;
  }


  