.ag-format-container {
    margin: 15px;
    width: 1350px;
    overflow: hidden;
}

.ag-courses_box {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
.ag-courses_box::-webkit-scrollbar{
    display: none;
}

.ag-courses_item {
    flex: 0 0 auto;
    margin-right: 15px;
    min-width: 200px;
    border: 1px solid lightgray;
}

.ag-courses-item_link {
    display: block;
    padding: 15px 10px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    text-decoration: none;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses_item:hover {
    border: 1px solid black;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 30px;
    overflow: hidden;
    font-size: 30px;
    color: var(--text-color-dark);
    z-index: 2;
    position: relative;
}

.ag-courses-item_title h1 {
    font-size: 17px;
    color: var(--secondary-color-dark);
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: var(--secondary-color-light);
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: rgb(168, 220, 241);
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;
        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}