.container {
  margin: 3% 18%;
  padding: 3rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
}

.container h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bolder;
  color: var(--primary-title-color);
  padding: 0;
  margin: 30px 0px;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container label {
  font-size: medium;
  color: gray;
}

.container input {
  width: 100%;
  margin: .7rem 0;
  padding: 10px;
  border: 1px solid gray;
}

.container textarea {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  margin: .7rem 0;
  padding: 10px;
  border: 1px solid gray;
}

.xxx {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  margin: 1rem 0rem;
  align-items: center;
}

.container .xxx .img {
  width: 200%;
}

.container select {
  width: 200%;
  height: 43px;
  color: gray;
  padding: 5px;
  border-color: gray;
}

.container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container button {
  align-items: center;
  width: 50%;
  background-color: var(--primary-color-light);
  color: #fff;
  border: none;
  padding: 10px 10px;
  margin: 10px 0 0 0;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: .5s;
}

button:hover {
  background-color: var(--primary-color-dark);
  transition: .5s;
}

.container .opt {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}