.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 15%;
}









.accounnt-information-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.2);
  
}
.account-picture{
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.account-picture img {
  width: 14rem;
  height: 14rem;
  margin: 1rem;
  border-radius: 50%;
  border: 5px solid black;
  box-shadow: 0px 0px 13px 1px rgb(0, 0, 0, .7);
}
.account-data {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2.5rem;
}
.account-data h1 {
  font-size: 3rem;
  color: var(--secondary-color-dark);
  text-transform: capitalize;
  margin: 10px 0px 20px 0px;
}
.account-data p {
  font-size: 15px;
  color: var(--text-color-lighter);
  font-family: 'Segoe UI';
  padding-left: 2px;
}
.biography {
  width: 30%;
  padding: 2rem;
  border-left: 1px solid lightgray;
}
.biography h1{
  width: 100%;
  color: var(--primary-color-dark);
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px dotted var(--text-color-lighter);
  text-transform: capitalize;
}
.biography p{
  width: 100%;
  margin-top: 10px;
  color: var(--text-color-lighter);
}









.container .options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  border-bottom: 2px solid var(--text-color-dark);
  gap: 10px;
  padding: 10px;
}














.container .plate {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  row-gap: 60px;
  column-gap: 20px;
  min-height: 30vh;
}

.card {
  position: relative;
  width: 240px;
  height: 210px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  height: 255px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 165px;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.info h1 {
  font-weight: 700;
  font-size: 19px;
  color: var(--primary-color-light);
  text-transform: capitalize;
}

.pb {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 170px;
  width: 170px;
  border-radius: 8px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  transition: all 0.4s ease-in-out;
  border: 3px solid rgb(0, 0, 0);
}

.buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 15px;
  opacity: 0;
  z-index: -10px;
  transition-timing-function: linear;
  transition-duration: 0s, 0.2s, 0.2s;
  transition-property: z-index, opacity, transform;
  transition-delay: 0.2s, 0s, 0s;
}

.buttons a {
  text-decoration: none;
  text-align: center;
  color: var(--text-color-dark);
  background-color: var(--secondary-color-light);
  width: 150px;
  padding: 8px;
  border-radius: 15px;
  transition: .5s;
}

.buttons a:hover {
  transition: .5s;
  background-color: var(--secondary-color-dark);
}

.card:hover .buttons {
  opacity: 1;
  z-index: 0;
  transform: translate(0px);
  transition-timing-function: linear;
  transition-duration: 0s, 0.3s, 0.3s;
  transition-property: z-index, opacity, transform;
  transition-delay: 0s, 0.2s, 0.2s;
}
