.container {
    margin: 3% 25%;
    padding: 3rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.13);
}

.container h2 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary-title-color);
    padding: 0;
    margin: 30px 0px;
    text-shadow: 2px 5px 30px hsl(0, 0%, 100%);
}
.container form {
    display: flex;
    flex-direction: column;
}
form .form_row{
    width: 100%;
    display: flex;
}
.form_row label {
    width: 30%;
    font-size: 14px;
}
.form_row input , select{
    background-color: #f8f8f8;
    margin-bottom: 20px;
    width: -webkit-fill-available;
    padding: .375rem .75rem;
    font-size: 15px;
    color: #212529;
    border: 1px solid #ced4da;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.container .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container button {
    width: 50%;
    background-color: var(--primary-color-dark);
    color: #fff;
    border: none;
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}
button:hover {
    background-color: var(--primary-color-light);
}