.container {
    min-height: 80vh;
    margin: 3% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}





.accounnt-information-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 110px 15px 15px 110px;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.2);
    
}
.account-picture{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.account-picture img {
    width: 14rem;
    height: 14rem;
    margin: 1rem;
    border-radius: 50%;
    border: 5px solid black;
    box-shadow: 0px 0px 13px 1px rgb(0, 0, 0, .7);
}
.account-data {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.5rem;
}
.account-data h1 {
    font-size: 3rem;
    color: var(--secondary-color-dark);
    text-transform: capitalize;
    margin: 10px 0px 20px 0px;
}
.account-data p {
    font-size: 15px;
    color: var(--text-color-lighter);
    font-family: 'Segoe UI';
    padding-left: 2px;
}
.biography {
    width: 30%;
    padding: 2rem;
    border-left: 1px solid lightgray;
}
.biography h1{
    width: 100%;
    color: var(--primary-color-dark);
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px dotted var(--text-color-lighter);
    text-transform: capitalize;
}
.biography p{
    width: 100%;
    margin-top: 10px;
    color: var(--text-color-lighter);
}









.container .options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    border-bottom: 2px solid var(--text-color-dark);
    gap: 10px;
    padding: 10px;
}
.options .btn {
    padding: 10px 15px;
    font-size: 1rem;
    font-family: 'Segoe UI';
    text-decoration: none;
    background-color: var(--primary-color-light);
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin: 1.5rem .5rem;
    border-radius: 8px;
    transition: .7s;
}
.options .btn:hover {
    background-color: var(--secondary-color-light);
    color: var(--text-color-dark);
    transform: scale(1.1);
    transition: .7s;
}











.container .right_portion {
    display: flex;
    flex-direction: column;
}

.container .right_portion .tabs {
    display: flex;
    font-weight: 700;
    color: var(--color7);
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    gap: .8rem;
    align-items: center;
}

.container .right_portion .plate {
    background-color: #dbf4ff21;
    box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5rem;
    border-radius: 15px;
}

.container .right_portion h1 {
    color: var(--color4);
    margin: 2rem;
}

.container .right_portion .info_box {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    font-size: 20px;
    padding-left: 2.5rem;
    align-items: center;
}

.container .right_portion .info_box .top {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.container .right_portion .info_box .cel {
    width: 90%;
    display: flex;
    align-items: center;
    background-color: #dbf4ff21;
    box-shadow: -2rem -0.5rem 5rem rgba(0, 0, 0, 0.2);
    margin: 5px;
    justify-content: space-between;
    border-radius: 15px;
}

.cel label {
    font-weight: bold;
    display: block;
    margin-left: 1.5rem;
}

.cel input {
    width: 85%;
    height: 46px;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    box-sizing: border-box;
    justify-content: right;
    color: var(--text-dark);
}



.chat-container {
    background: rgb(255, 255, 255);
    width: 555px;
    border-radius: 0;
    display: flex;
    position: fixed;
    /* Set the position to fixed to keep it in a fixed position */
    bottom: 0px;
    /* Adjust the distance from the bottom as needed */
    right: 20px;
    /* Adjust the distance from the right as needed */
    z-index: 9999;
    /* Set a high z-index value to ensure it appears in front */
    /* Add other necessary styles */
}

.people-list {
    width: 260px;
}

.people-list .search {
    padding: 20px;
}

.people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6a6c75;
    width: 90%;
    font-size: 14px;
}

.people-list .fa-search {
    position: relative;
    left: -25px;
}

.people-list ul {
    padding: 20px;
    height: 100%;
    max-height: 750px;
    overflow-x: visible;
    overflow-y: auto;
}

.people-list ul li {
    padding-bottom: 20px;
}

.people-list img {
    float: left;
}

.people-list .about {
    float: left;
    margin-top: 8px;
}

.people-list .about {
    padding-left: 8px;
}

.people-list .status {
    color: #92959e;
}

.chat {
    border-radius: 13px 13px 0 0;
    width: calc(100% - 60px);
    color: #434651;
    height: 100%;
    border: 2px solid #434651;

}

.chat .chat-header {
    border-radius: 13px 13px 0 0;
    padding: 11px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.chat .chat-header img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid rgb(0, 131, 26);
}

.chat .chat-header .chat-about {
    float: left;
    width: 375px;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .bx {
    font-size: xx-large;
    color: black;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 20px;
    color: var(--color7);
}

.chat .chat-header .chat-num-messages {
    color: #92959e;
}

.chat .chat-header .fa-star {
    float: right;
    color: #d8dadf;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history {
    margin: 20px 20px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
    overflow-wrap: break-word;
    height: 500px;
}

.chat-history::-webkit-scrollbar {
    width: 0;
    display: none;
}

.chat .chat-history .message-data {
    margin-bottom: 1px;
    font-size: small;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    display: flex;
    color: var(--text-dark);
    padding: 10px 13px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 8px;
    width: fit-content;
    overflow-wrap: break-word;
    max-width: 80%;
}

.chat .chat-history .my-message {
    background: #86bb71;
}

.chat .chat-history .other-message {
    background: #94c2ed;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #94c2ed;
    left: 87%;
}

.chat .chat-message {
    padding: 11px;
    display: flex;
    align-items: center;
    border-top: 2px solid white;
    background-color: rgba(0, 0, 0, 0.2);
}

.chat .chat-message input {
    padding: 10px 10px;
    font: 14px/22px "Lato", Arial, sans-serif;
    border-radius: 5px;
    resize: none;
    width: 390px;
    height: 44px;
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat .chat-message button {
    color: var(--text-dark);
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: var(--color5);
    padding: 9px 13px;
    border-radius: 10px;
    margin-left: 9px;
}

.chat .chat-message button:hover {
    color: var(--text-dark);
    background: var(--color4);
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86bb71;
}

.offline {
    color: #e38968;
}

.me {
    color: #94c2ed;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}